html, body, #container {
    height: 100vh;
    width: 100vw;
    background-color: floralwhite;
    margin: 0px;
    padding: 0px;
}

#frame {
    --rowsColumns: 16;
    position: absolute;
    left: 30vw;
    bottom: 5vh;
    background-color: white;
    width: 40vw;
    height: 40vw;
    padding: 0;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(var(--rowsColumns, 16), calc(40vw / var(--rowsColumns, 16)));
    grid-template-rows: repeat(var(--rowsColumns, 16), calc(40vw / var(--rowsColumns, 16)));
}

#frame > div {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: calc(40vw / var(--rowsColumns, 16));
    height: calc(40vw / var(--rowsColumns, 16));
}

button {
    background-color: gainsboro;
    border: 1px solid;
    border-radius: 15px;
    margin: 0px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

#reset {
    position: absolute;
    left: 47.8vw;
    top:5vh;
    padding: 5px 30px;
    font-size: 20px;
}

#reset:active {
    transform: scale(0.9, 0.9);
    transition-duration: 100ms;
}

#color {
    --multicolorLeft: 48.4vw;
    --blackLeft: 48vw;
    position: relative;
    top: 10.1vh;
    left: var(--multicolorLeft);
    font-size: 16px;
    padding: 1px 10px;
}

#rainbow {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}